# Database
DB_HOST=your_db_host
DB_PORT=5432
DB_NAME=your_db_name
DB_USER=your_db_user
DB_PASSWORD=your_db_password
# Auth
JWT_SECRET=your_secret_change_this_in_production

PORT=5000
NODE_ENV=development

# Google OAuth
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret
GOOGLE_CALLBACK_URL=http://localhost:5000/auth/google/callback

# SMTP Email
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your_email@gmail.com
SMTP_PASS=your_smtp_app_password

# URLs
FRONTEND_URL=http://localhost:3000

OCI_NAMESPACE=your_oci_namespace
OCI_BUCKET_NAME=your_bucket_name

OCI_TENANCY_ID=your_tenancy_ocid

OCI_USER_ID=your_user_ocid

OCI_FINGERPRINT=your_key_fingerprint

OCI_REGION=your_oci_region

OCI_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----
your_private_key_here
-----END PRIVATE KEY-----"
